#wrapper{
    position: absolute;
    margin-left: 50px;
    margin-right: 50px;
}
.text{
    font-size: 50px;
    font-weight: bold;
}

#heart{
    position: relative;
    width: 100px;
    height: 60px;
    display: inline-block;
    /* border: 2px solid blue; */
}
#heart::before, #heart::after
{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #aa0000;
    border-radius: 40px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    animation:pulsecolor 1s infinte;
}
#heart::before
{
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #aa0000;
    border-radius: 40px 50px 0 0;
    transform: rotate(45deg);
    transform-origin: 0 100%;
    animation:pulsecolor 1s infinte;
}
#heart::before
{
    /* position: absolute; */
    /* content: ""; */
    left: 0px;
    /* top: 0; */
    /* width: 50px; */
    /* height: 80px; */
    background: #aa0000;
    /* border-radius: 40px 50px 0 0; */
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    animation:pulsecolor 1s infinte;
}
@keyframes pulse {
    10% {transform: scale(1.1);}
}
@keyframes pulsecolor {
    10%{background: #aa0003;}
}
